.sidebar_right {
  position: sticky;
  top: 70px;
  flex: 0.3;
  padding-bottom: 10px;
  height: fit-content;
}
.widgets {
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 10px;
  margin-top: 10px;
}

.widgets_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.widgets_header > h2 {
  font-size: 16px;
  font-weight: 400px;
}

.widgets_article {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.widgets_article:hover {
  background-color: whitesmoke;
}

.article_left {
  color: #0177b7;
  margin-right: 5px;
}

.article_left > .MuiSvgIcon-root {
  font-size: 15px;
}

.article_right {
  flex: 1;
}

.article_right > h4 {
  font-size: 14px;
}

.article_right > p {
  font-size: 12px;
  color: gray;
}

.footer {
  text-align: center;
  padding: 10px;
  height: fit-content;
}

.footer > a {
  color: black;
  text-decoration: none;
  margin: 10px;
  font-size: 13px;
}

.footer > a:hover {
  color: gray;
  background-color: whitesmoke;
}
